
<div class="prompt" id="instructions">Begin to breathe deeply. When you feel ready to begin, press Space at the end of an exhale.</div>
<div class="prompt" id="inhale">Inhale</div>
<div class="prompt" id="exhale">Exhale</div>

<!-- change this to timer object value -->
<div class="data">
<div class="inhales">
	<p id="longest-inhale">Inhale placeholder</p>
	<p id="average-inhale">Inhale placeholder</p>
</div>
<div class="exhales">
	<p id="longest-exhale">Exhale Placeholder</p>
	<p id="average-exhale">Exhale Placeholder</p>
</div>
<div class="cycles">
	<p id="longest-cycle">averages</p>
	<p id="average-cycle">averages</p>
</div>

</div>

<div id="last-breath">main text</div>
<div id="count">main text</div>