
<div class="prompt" id="instructions">Begin to breathe deeply. When you feel ready to begin, press Space at the end of an exhale.</div>
<div class="prompt" id="inhale">Inhale</div>
<div class="prompt" id="exhale">Exhale</div>

<!-- change this to timer object value -->
<div class="longest-inhale"></div>
<div class="last-breath"></div>
<div class="count"></div>